<div class="card">
    <div class="card-body m-0 container">
        <div class="row">
            <i class="fa fa-arrow-right my-auto pr-2" data-toggle="collapse" href="#<%= index %>" role="button"
                aria-hidden="true" aria-expanded="false" aria-controls="<%= index %>"></i>
            <img class="img-fluid image" src=<%= data.icon %> class="col-2" />
            <div class="mb-0 col">
                <p class="mb-0"><%= data.app %></p>
                <p class="mb-0">Installed: <%= data.version %></p>
            </div>
            <button onclick="download()" class="mb-0 col-3 button">Download</p>
        </div>
    </div>
    <div class="collapse" id="<%= index %>">
        <div class="card card-body">
            <div class="mb-0"> <%- data.description_html %> </div>
            <% if(data.description_url){ %>
            <a class="mb-0 text-right" href="<%= data.description_url %>">Learn More</a>
            <% } %>
        </div>
    </div>
</div>