<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./head'); %>
</head>

<body>
	<header><%- include('./header'); %></header>

	<main>
		<div>
			<p class="heading px-3 py-1 mb-0">Installed</p>
			<% for(let i=0; i<data["installed"].length; i++) {%>
			<%- include('./card', {data:data["installed"][i], index: "installed" + i }); %>
			<% } %>
		</div>
		<div>
			<p class="heading px-3 py-1 mb-0">Explore</p>
			<% for(let i=0; i<data["explore"].length; i++) {%>
			<%- include('./card', {data:data["explore"][i], index: "explore" + i }); %>
			<% } %>
		</div>
	</main>

	<footer><%- include('./footer'); %></footer>
</body>
<script>
	const request = require("request")
	const fs = require("fs")

	function download() {
		console.log("Downloading..")

		var req = request({
			method: 'GET',
			uri: "http://localhost:8000/FHM.png"
		});
		var out = fs.createWriteStream("C:/Users/vaishakv/Downloads/ZTst.png");
		req.pipe(out);

		function stop() {
			req.pause();
		}

		req.on('response', function (data) {
			console.log(data)
		});
		req.on('data', function (chunk) {
			//stop();//I want to execute this method at html .
		});
	}
</script>

</html>